html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(63, 57, 57);
  background-color: rgb(253, 250, 253);
}

.content {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

header {
  padding: 50px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  z-index: 2;
}

.title h1,
.title h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 200;
  letter-spacing: 3px;
  color: white;
}

header figure {
  z-index: 2;
}

.background {
  position: absolute;
  top: 100px;
  left: 0;
  width: 70%;
  height: 480px;
  background-color: rgb(63, 57, 57);
}

.burger-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: none;
  background: url(assets/images/burger-button.jpg) no-repeat center;
  z-index: 5;
}

@media screen and (max-width: 480px) {
  .burger-button {
    display: flex;
  }
}

.burger-menu {
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(63, 57, 57);
  text-align: center;
  z-index: 4;
}

.burger-menu > ul > li {
  list-style-type: none;
}

.burger-menu > ul > li > a {
  text-decoration: none;
  color: rgb(63, 57, 57);
}

.burger-menu > ul > li > a:hover {
  text-decoration: underline;
}

.main {
  display: flex;
}

.main h3 {
  font-weight: 700;
  letter-spacing: 3px;
  color: rgb(63, 57, 57);
}

section {
  padding-top: 20px;
  padding-right: 5px;
  padding-left: 40px;
}

.column-one {
  width: 450px;
}

.column-two {
  flex: 1;
}

@media screen and (max-width: 900px) {
  .column-one {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  .background {
    top: 0;
    width: 100%;
    height: 650px;
  }
  .main {
    flex-wrap: wrap;
  }
  .column-one {
    width: 350px;
  }
}

@media screen and (max-width: 620px) {
  .column-one {
    width: 250px;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 50px 0;
  }
  header img {
    width: 300px;
  }
  .title h1,
  .title h3 {
    font-size: 20px;
    color: rgb(63, 57, 57);
  }
  .background {
    display: none;
  }
  .column-one {
    width: 100%;
  }
}

.column-one section {
  border-bottom: 3px solid rgb(63, 57, 57);
}

.column-one section:nth-child(5) {
  border-bottom: none;
}

.project-image {
  width: 110px;
  height: 130px;
  cursor: pointer;
}

.project-image:hover {
  transition: 0.15s;
  transform: scale(1.1);
}

.section-title::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 3px solid rgb(63, 57, 57);
}

.date {
  margin-right: 10px;
  color: silver;
}

section h4 {
  margin-bottom: 0;
}

.description {
  margin-top: 5px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: rgb(63, 57, 57);
  color: white;
}

.footer nav {
  display: flex;
  align-items: center;
}

.ghlogo {
  width: 36px;
  margin: 10px;
}

.rsslogo {
  width: 64px;
  margin: 10px;
}
